.links{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.linkListElemet{
    background-color: antiquewhite;
    margin-top: 1em;
    border-radius: 6px;
    width: 300px;
    height: 50px;
    align-items: center;

    
}

.insideDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favIcon img{
    width: 40px;
    height: 40px;
    margin: .5em;
}

.insideDiv .favText{
    text-decoration: none;
    width: 100px;
    color: #000;
}

.insideDiv i{
    margin-left: 150px;
    margin-top: -30px;
    opacity: .2;
    cursor: pointer;
}

.addLink{
    margin: 30px auto;
    background-color: antiquewhite;
    border-radius: 6px;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 1em;

}

.addLink a{
    text-decoration: none;
    color: #000;
}

.deleteIcon{
    margin-top: -30px;
    margin-left: .5em;
    margin-right: .2em;
}

.addLink i{
    opacity: .2;
    cursor: pointer;
    
}
