button > i{
    pointer-events: none;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    border-top: solid 30px rgba(0, 0, 0, 0);
    min-width: 300px;
}

.links::-webkit-scrollbar{
    display: none;
}

.linkListElemet{
    background-color: antiquewhite;
    margin-top: 1em;
    border-radius: 6px;
    width: 300px;
    height: 50px;
    align-items: center;
    box-shadow: 10px 10px 5px lightblue;
}

.insideDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favIcon img{
    width: 40px;
    height: 40px;
    margin: .5em;
}

.insideDiv .favText{
    text-decoration: none;
    width: 100px;
    color: #000;
}

.insideDiv button i{
    opacity: .2;
    /* cursor: pointer; */
}

.insideDiv button{
    border: none;
    margin-left: 150px;
    margin-top: -30px;
    width: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.deleteIcon{
    margin-top: -30px;
    margin-left: .5em;
    margin-right: .2em;
}

.addLink{
    margin: 30px auto;
    background-color: antiquewhite;
    border-radius: 6px;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 1em;

}

.addLinkBtn{
    border: none;
    width: 20px;
    cursor: pointer;
    border-radius: 50%;
}


.addLink i{
    opacity: .2;
    cursor: pointer;
    
}

/* POPUP WINDOW */
.inputForm{
    background: rgb(0, 0, 0, 0.3);
    width: 300px;
    height: 200px;
    position: absolute;
    top: 170px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.popupWindow{
    width: 270px;
    height: 170px;
    background: antiquewhite;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.inputForm img{
    width: 30px;
    height: 30px;
}

.inputForm input{
    margin: 4px auto;
    display: block;
    width: 200px;
    height: 25px;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 4px;
}

.inputForm .addLink{
    margin-top: 0;
    background: #fff;
    width: 130px;
   
}

.closeBtn{
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    
   
    
}