*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#body{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header style */
header{
    margin: 60px auto 0;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    width: 360px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.dateTimeSummary{
    margin: auto 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    gap: 50px;
}

/* Main body style */
main{
    margin: 150px auto 0;
}

.titleText{
    margin: 0 auto 30px;
}

.titleText h1{
    align-items: center;
    color: #ccc;
}

.tileSection{
    width: 90%;
    margin: 10px 10px;
}

.mainTiles{
    border: 2px solid #ccc;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.tileSlider{
    height: 100%;
    display: flex;
    width: 400%;
    transition: all .4s ease;
}

.tileSlider section{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.controls span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.leftArrow{
    left: 10px;
}

.rightArrow{
    right: 10px;
}

.controls i{
    font-size: 40px;
    color: #ccc;
}

/* Footer style */
footer{
    margin: 40px auto 60px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    width: 200px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
}
#backgoundReloadBtn {
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
    border-style: none;
    background: none;
    margin: auto 1em;
    font-weight: 500;
}

#backgoundReloadBtn i{
    font-size: 20px;
}