.newsThumbnail{
    width: 90%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    gap: 1em;
    scrollbar-width: none;
}

.newsImage img{
    width: 70px;
    height: 70px;
}

.newsContent{
    width: auto;
    height: 70px;
    overflow: scroll;
    overflow-x: hidden;
}
