.todayWeather{
    display: flex;
    flex-direction: column;
    
    
}

.todayWeather h2{
 
    margin-bottom: .5em;
    margin-top: 0;
  
}

.weatherTile{
    display: flex;
    flex-direction: row;
    background-color: rgb(161, 174, 239);
    margin-top: 1em;
    border-radius: 6px;
    width: 300px;
    height: 50px;
    align-items: center;
    gap: 1em;
    box-shadow: 10px 10px 5px lightblue;
}

.weatherIcon img{
    width: 40px;
    height: 40px;
    margin: .5em;
}

.showDayName{
    font-size: 16px;
}

.weatherDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.showWeatherDetails{
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: 15px;
}


.temperature,
.details{
    background-color: #999898;
}